DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=7d
FRONTEND_URL=
PORT=
# Password debe tener: mayuscula, minúscula, número y caracter especial
# Ejemplo: Nexora2026!